*{
    scroll-behavior: smooth;
}
.app{
    min-height: 100vh;
    background-color: #39445a;
    color: white;
    padding-top: 170px;
    padding-bottom: 70px;
}
@media (max-width: 700px){
    .app{
        padding-top: 105px;
    }
}
.page_title {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-size: 3.5vw;
    padding: 4px;
    border-radius: 50px;
    color: white;
  }
  
  @media (max-width: 1000px) {
    .page_title {
      font-size: 6.4vw;
    }
  }